<div id="box">
<h1> Sign In </h1>
<form action="/sessions" method="post">
  <div class="container">
    <label>Email:
      <input placeholder="jeff@mail.com" type="email" name= "email"/>
    </label>
    <label>Password:
      <input type="password" name="password"/>
    </label>
    <input type="submit" value="Submit">
    <a href="/users/recover">I forgot my password</a>
  </div>
</form>
<div>
