
<% if flash[:errors] && !flash[:errors].empty? %>
  <div id='flash_errors'>
    Please refer to the following errors below:
    <ul id='errors'>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<% if flash[:notices] && !flash[:notices].empty? %>
  <div id='flash_notices'>
    <ul id='notices'>
      <% flash[:notices].each do |notice| %>
        <li><%= notice %></li>
      <% end %>
    </ul>
  </div>
<% end %>
