<h3> Welcome <%= current_user ? current_user.first_name : "" %> </h3>
<div id="menu_buttons">
  <% if current_user %>
    <a href="/spaces">Spaces</a>
    <a href="/requests">Requests</a>
    <form method='post' action='/sessions'>
      <input type='hidden' name='_method' value='delete'>
      <a href="/sessions/sign_in">Sign Out</a>
    </form>
    </a>
  <% else %>
    <a href="/sessions/sign_in">Sign In</a>
    <a href="/sessions/sign_up">Sign Up</a>
  <% end %>
</div>
