<h3> <%= current_user ? 'Welcome ' + current_user.first_name : "" %> </h3>
<div id="menu_buttons">
  <% if current_user %>
    <a href="/spaces">Spaces</a>
    <a href="/requests">Requests</a>
    <a href="javascript:{}" onclick="document.getElementById('sign_out_form').submit(); return false;">Sign Out</a>
    <form id='sign_out_form' method='post' action='/sessions'>
      <input type='hidden' name='_method' value='delete'>
      <!-- <input id='sign_out_button' type='submit' value='Sign Out'> -->
    </form>
  <% else %>
    <a href="/sessions/sign_in">Sign In</a>
    <a href="/users/sign_up">Sign Up</a>
  <% end %>
</div>
