<div id="box">
  <h1> Sign Up </h1>
  <h2> Please Enter your Details </h2>
  <form action="/sign_up" method="post">
    <div class="container">
      <label>First Name:
        <input placeholder="jeff" type="text" name= "first_name"/>
      </label>
      <label>Surname:
        <input placeholder="Daniels" type="text" name= "surname"/>
      </label>
      <label>Email:
        <input placeholder="jeff@mail.com" type="email" name= "email"/>
      </label>
      <label>Password:
        <input type="password" name="password"/>
      </label>
      <label>Confirm Password:
        <input type="password" name="password_confirmation"/>
      </label>
      <input type="submit" value="Submit">
    </div>
  </form>
</div> <!-- Close Box -->
