body{
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
  background-color:#0D1754;
  margin: 0 auto;
  width: 600px
}


#box{
  background-color: rgba(77, 80, 89, 0.4);
  padding: 20px 5px 50px 5px;
  border: #FFF solid 5px;
  text-align: center;
  margin-top: 10%;
  font-weight: 300;
}

.container{
  margin: 0 auto;
  width: 500px;
  clear: both;
}

.container input{
  width: 100%;
  clear: both;
}
