body{
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  background-color:#A6ACAF;
  margin: 0 auto;
  width: 600px
}

#topbar{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:60px;
  background-color: #4E9A89;
  border-bottom: #F1F1F1 solid 3px;
}

#topbar h3{
  display: inline-block;
  margin-left: 10px;
}

#topbar #menu_buttons{
  display: block;
  float: right;
  margin-right: 10px;
  height: 60px;
  line-height: 60px;
}

#topbar a{
  color: white;
  margin: 3px;
}

main{
  margin-top: 90px;
}


.box{
  background-color: #178169;
  padding: 10px 5px 50px 5px;
  border: #F1F1F1 solid 3px;
  text-align: center;
  margin-top: 20px;
  font-weight: 300;
}

.container{
  margin: 0 auto;
  width: 500px;
  clear: both;
}

.container input, textarea{
  width: 100%;
  max-width: 100%;
  clear: both;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
}

.container input[type="submit"]{
  margin-top: 15px;
}
