body{
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  background-color:#A6ACAF;
  margin: 0 auto;
}

#topbar{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:60px;
  background-color: #4E9A89;
  border-bottom: #F1F1F1 solid 3px;
}

#logo {
  margin: 10px 10px;
  display: inline-block;
}

#topbar h3{
  display: inline-block;
  margin-left: 10px;
  height: 70px;
  vertical-align: middle;
}

#topbar #menu_buttons{
  display: block;
  float: right;
  margin-right: 10px;
  height: 60px;
  line-height: 60px;
}

#topbar a{
  color: white;
  margin: 3px;
}

main{
  margin-top: 90px;
}


.box{
  display: block;
  background-color: #178169;
  padding: 10px 5px 10px 5px;
  border: #F1F1F1 solid 3px;
  text-align: center;
  margin: 20px auto;
  font-weight: 300;
  width: 600px;
  line-height: 0.75em;
}

.container{
  margin: 0 auto;
  width: 500px;
  clear: both;
}

.container input, textarea{
  width: 100%;
  max-width: 100%;
  clear: both;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
}

.container input[type="submit"]{
  margin-top: 15px;
}

.requests_box{
  width: 40%;
  float: top;
  display: block;
}

.request_box{
  background-color: #006048;
  width: auto;
}

#requests_made_box{
  float: left;
  margin-left: 5%;
}

#requests_received_box{
  float: right;
  margin-right: 5%;
}

#datepicker{
   width: 281px;
   margin: 10px auto;
}
