<div id="box">
  <h1> Sign Up </h1>
  <h2> Please Enter your Details </h2>
    <form action="/#" method="post">
      <div class="container">
        <label>User Name:
          <input placeholder="jeff" type="text" name= "user_name"/>
        </label>
        <label>Email:
          <input placeholder="jeff@mail.com" type="email" name= "user_email"/>
        </label>
        <label>Password:
          <input type="password" name="user_password"/>
        </label>
        <label>Confirm Password:
          <input type="password" name="password_confirmation"/>
        </label>
        <input type="submit" value="Submit">
      </div>
    </form>
</div> <!-- Close Box -->
