<!DOCTYPE html>
<html>
  <head>
    <title> Airbminusb </title>
    <link rel="Stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>
  <body>
    <div class="topbar">
      <h3> Welcome to AirBminusB </h3>
    </div>
    <%= yield %>
  </body>



</html>
