<!DOCTYPE html>
<html>
  <head>
    <title> Airbminusb </title>
    <link rel="Stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>
  <body>
    <div id="topbar">
      <%= erb :'partials/topbar' %>
    </div>
    <%= yield %>
  </body>



</html>
