<!DOCTYPE html>
<html>
  <!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> -->
  <head>
    <title> Airbminusb </title>
    <link rel="Stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>
  <body>
    <div id="topbar">
      <%= erb :'partials/topbar' %>
    </div>
    <main>
      <%= erb :'partials/flash' %>
      <%= yield %>
    </main>
  </body>
</html>
