<div id="box">
<h1> Sign In </h1>
<form action="/sessions/sign_in" method="post">
  <div class="container">
    <label>User Name:
      <input placeholder="jeff" type="text" name= "user_name"/>
    </label>
    <label>Password:
      <input type="password" name="user_password"/>
    </label>
    <input type="submit" value="Submit">
  </div>
</form>
<div>